@import './_consts.scss';

.form {
  flex: 2;
  input {
    border: none;
    border-bottom: 1px solid $shadow;
  }
  input:focus {
    outline: none;
  }
  textarea {
    margin: 10px 0px 0px;
    display: block;
    width: 60%;
    height: 150px;
  }
  .form-input {
    margin: 15px 0px 15px;
  }
  &.sub {
    width: 300px;
    margin: 22px auto;
    box-shadow: 3px 0px 4px 1px #ccc;
    padding: 15px;
  }
}
