@import './consts';

.main-section {
  flex: 3;
  align-self: stretch;
  padding: 100px 50px;
}

.recipe_header {
  text-transform: uppercase;
}

.recipe_item {
  padding: 10px;
  position: relative;
  background-color: $fireOrange;
  z-index: 2;
}

.panel {
  position: relative;
  // z-index: -10;
  background-color: #fff;
  padding: "15px";
  color: #000;
  animation: slideDown 5s forwards;
}

@keyframes slideDown {
  0% {
    z-index: -5;
    opacity: 0;
    transform: translateY(-100%)
  }
  25% {
    z-index: 1;
    transform: translateY(-85%)
  }
  50% {
    z-index: 1;
    opacity: 50;
    transform: translateY(1%)
  }
  100% {
    z-index: 1;
    opacity: 100;
    transform: translateY(5%)
  }
}