
$coreGreen: #C2C72D;
$spottySkinRed: #F14A2A;
$fireOrange: #FF6F36;
$appleSauceGreen: #DDE435;
$sweetMeatGreen: #EEFABC;
$lightWhite: #efefef;

.main-section {
  // background-image: url("../chilies_copy.jpeg");
  // background-position: center;
  width: 75%;
  height: 100%;
  display: inline-block;
}

.recipe_title {
  color: $coreGreen;
  font-family: 'Montserrat';
}

.main-nav {
  h1 {
    color: #fff;
    font-size: 35px;
    padding: 10px;
    font-family: 'Pacifico', cursive;
  }
  position: relative;
  min-height: 550px;
  max-width: 20%;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-nav:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-image: url("../chilies_copy.jpeg");
  background-position: center center;
  background-size: cover;
  height: 100%;
  display: inline-block;
}