
$coreGreen: #C2C72D;
$spottySkinRed: #F14A2A;
$fireOrange: #FF6F36;
$appleSauceGreen: #DDE435;
$sweetMeatGreen: #EEFABC;
$lightWhite: #efefef;
$shadow: #3c3c3c;

.container {
  display: flex;
  align-items: flex-start;
  min-height: 100vh;
  color: #fff;
  background-color: $fireOrange;
}

.main-section {
  flex: 3;
  align-self: stretch;
  padding: 100px 50px;
}

.recipe_title {
  // color: $coreGreen;
  font-family: 'Montserrat';
}

.main-nav {
  box-shadow: 0px 0px 5px 5px $shadow;
  flex: 1;
  align-self: stretch;
  a {
    display: block;
  }
  h1 {
    font-size: 35px;
    padding: 10px;
    font-family: 'Pacifico', cursive;
  }
}

.pic-border {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 25px;
}

.pic-border:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-image: url("../chilies_copy.jpeg");
  background-position: center center;
  background-size: cover;
}