@import './_consts';

.admin {
  flex: 2;
  h3 {
    font-weight: 700;
    color: $shadow;
    text-align: center;
    text-transform: uppercase;
  }
}

.admin_form {
  label {
    font-weight: 600;
  }
}